<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>60169136850-jc35q5bnefd2sq5juomf37d71ktn03dj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.60169136850-jc35q5bnefd2sq5juomf37d71ktn03dj</string>
	<key>API_KEY</key>
	<string>AIzaSyC7NaES9yNW-Xw6Nk-BIi6RF42VoRp7Amw</string>
	<key>GCM_SENDER_ID</key>
	<string>60169136850</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterfirebaseLogin</string>
	<key>PROJECT_ID</key>
	<string>flutterfirebase-db75f</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterfirebase-db75f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:60169136850:ios:847c723fb85ad886c2db0b</string>
</dict>
</plist>